* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-size: 12px;
    font-family: IRANYekan;
    scroll-behavior: smooth;

    
}
@font-face {
    font-display: swap;
    font-family: IRANYekan;
    font-style: normal;
    font-weight: 100;
    src: url("fonts/iranyekanwebregular(fanum).ttf") format("truetype"),

}


.header {
    height : 75px;
    padding: 15px 0;
    /* margin-bottom: 30px; */
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;

}

.header .top {
    display: flex;
    justify-content : space-between;

}
.header .top #right
{
    width :80%;
    display : flex;

}
.header .top #left
{
    width :20%;
    display : flex;
    justify-content : space-evenly;
    position : relative;
}


.header .top .img-container {
    text-align : center;
    padding-top : .5%;
    margin: 0 2%;
}

.header .top .img-container img {
    width: 115px;
    height: 30px;
}

.header .top .input-container {
    background-color: #f0f0f1;
    display: flex;
    align-items: center;
    border-radius : 7px;
        width : 56%;
        padding : 3px;


}

.header .top .input-container i {
    font-size: 22px;
    background-color: #fff;
    color: #81858b;
    margin-top: 5px;


}

.header .top .input-container input {
    border: none;
    height: 100%;
    width : 100%;
    color: #81858b;
    opcity : .7;
    background-color: #f0f0f1;
        border-radius : 7px;
    border-top-right-radius : 0;
    border-bottom-right-radius : 0;

}

.input-search {
    height: 100%;
    text-align: center;
    padding: 7px 10px 0 10px;
}

.header .top .input-container:hover input,
.header .top .input-container:hover .input-search {
    border-bottom: 1px solid rgb(74, 146, 210);
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border : 1px solid #e0e0e2;
    width : 51%;
    border-radius : 7px;
}
.top #left::after
{
     content: '';
    background-color: #e0e0e2;
    width: 1.5px;
    height: 60%;
    position: absolute;
    left: 32%;
    bottom: 20%;
}
a:hover
{
    text-decoration : none !important;
}

i {
    font-size: 20px;

}

.login-container p {
    margin: 0 5%;
    font-weight: bold;

}


.login-line::after {
    content: '';
    background-color: black;
    width: 1.5px;
    height: 40%;
    position: absolute;
    right: 51%;
    bottom: 30%;
}

.buy-container {
    display: flex;
    justify-content: end;
    align-items: center;
}

.header-bottom {
    height : 45px;
    display: flex;
    margin-right : 2%;
    /* background-color: lightblue; */
    position: relative;
    padding-top : 1%;
    
    




}


.header-bottom .kala-container
{
    width: 1300px;
    height: 550px;
    position: absolute;
    top: 40px;
    z-index: 11;
    display: none;
    
}

.header-bottom .kala-container .right-1
{
    width: 20%;
    height: 100%;
    overflow-y: scroll;
    direction: ltr;
    background-color: #f5f5f5;

}
.header-bottom .kala-container .right-1 .item
{
    flex-direction: row-reverse;
    display: flex;
    padding:20px 40px;

}
.header-bottom .kala-container .right-1 .item:hover
{
        background-color: #fff;

}
.header-bottom .kala-container .right-1 .item:hover svg,
.header-bottom .kala-container .right-1 .item:hover a
{
        fill: red !important;
        color : red !important;

}

.header-bottom .kala-container .right-1 a
{
    display: block;
    font-size: 14px;
    text-decoration: none;
    color: black;
    margin-right: 3%;
}

.header-bottom .kala-container #hosein
{
    width: 80%;
    height: 100%;
    /* background-color: rgb(163, 42, 42); */
    overflow-y: scroll;
    direction: ltr;
    padding:20px 40px;
    background-color: #fff;

}
.header-bottom .kala-container #hosein .left-header
{
    direction: rtl;
}
.header-bottom .kala-container #hosein .content
{
    display: flex;
    direction: rtl;
}
.header-bottom .kala-container #hosein .menu-list
{
    width: 25%;
}
.header-bottom .kala-container #hosein .menu-list h5
{
    margin-bottom: 30px;
}
.header-bottom .kala-container #hosein .menu-list h5:hover
{
    color: #d32f2f;
}

.header-bottom .kala-container #hosein .menu-list li
{
    list-style-type: none;
    margin-bottom: 15px;
}
.header-bottom .kala-container #hosein .menu-list li a
{
    color: #a1a3a8;
    

}
.header-bottom .kala-container #hosein .left-header  a
{
    
    margin-bottom : 20px;
    

}
.header-bottom .kala-container #hosein a:hover
{
        text-decoration: none;

}


.header-bottom .kala-container #hosein .menu-list li a:hover
{
    color: #d32f2f;
}


/* .bottom div {
    display: flex;

} */

.header-bottom i {
    font-size: 15px;
    
}
.header-bottom .menu,.header-bottom .city,.header-bottom .list 
{
    display: flex;
}
.header-bottom .menu p {
    margin: 0 10px;
    font-weight: 700;
    font-size: 14px;
    color: #3f4064;
}
.header-bottom .menu
{
   width : 160px;
}


.header-bottom .city p {
    margin: 0 10px;
    color: #3f4064;
    font-weight: 400;

}
.header-bottom .city
{
    justify-content: end;
    width: 290px;
}
.header-bottom .list
{
    width : 1020px;
}
.header-bottom .list ul {
    display: flex;
    list-style-type: none;
}

.header-bottom .list ul li {
    margin-left: 15px;
    display :flex;
    padding-bottom : 30px;
}

.header-bottom .list a {
    color: #62666d;
    font-weight: 400;
    text-decoration: none;
    margin-right : 5px;
}

.header-bottom .list i {
    color: #62666d;

}

.header-bottom .list ul li:hover {
    border-bottom: 3px solid red;
}

.body-container .stories {
    max-width: 1336px;
    margin: auto;
}
.body-container .stories button
{
    border: none;
    background-color: transparent;
    
}
.body-container .stories button:hover
{
    background-color: transparent;
}
.stories .mySwiper3 {
    /* width: 415px; */
    height: 100%;
}

.stories .mySwiper3 .swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: transparent ;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    margin-left: 0 !important;


}

.stories .mySwiper3 .swiper-slide img {
    display: block;
    width: 74px !important;
    object-fit: cover;
}
.stories .mySwiper3 {
    max-width: 1336px;

}

.stories .mySwiper3 .swiper-slide {
    text-align: center;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    /* height : 180px; */
    width: 90px;
}

.stories  .mySwiper3 .swiper-slide .story-img {
    background-color: #fff;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    padding: 4px 2px;

}

.stories  .mySwiper3 .img-holder {

    padding: 2px;
    background: linear-gradient(315deg, #e03d96, #7d4c9e);
    border-radius: 50%;
}

.stories  .mySwiper3 .swiper-slide img {
    display: block;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    object-fit: cover;
    border-radius: 50%;
    margin: auto;

}
.stories .mySwiper3 .swiper-button-next,
.stories .mySwiper3 .swiper-button-prev
{
    background-color: white !important;
    color: #81858b;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 12px !important;
    padding: 5px;
}
.stories .mySwiper3 .swiper-button-next::after
{
    font-size: 11px !important;

}
.stories .mySwiper3 .swiper-button-prev::after
{
    font-size: 11px !important;

}

.modal
{
    width: 600px;
    height: 700px;
    margin: auto;
    position: relative;
    padding: 10px;
}
.nodal-body
{
    padding : 0 !important;
}
.modal-content
{
    background-color : #2b2929 !important;
}
.modal .modal-dialog
{
    width: 100%;
}
.modal .swiper-button-next,.modal .swiper-button-prev
{
    background-color: white !important;
    color: #81858b;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 12px !important;
    padding: 5px;
}
.modal .swiper-button-next::after
{
    font-size: 11px !important;

}
.modal .swiper-button-prev::after
{
    font-size: 11px !important;

}

.modal-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 30;
    border: none !important;
    width: 100%;

}
.modal-header button
{
    border : none !important;
}
.video-details
{
    position: absolute;
    display: flex;
    /* top: 244px; */
    bottom: 90px;
    left: 30px;
    align-items: end;
    width: 80%;
    justify-content: space-between;
    color: #fff;
    font-size: 15px;

}
.mySwiper2
{
    height: 100%;
}
.mySwiper2 .swiper-wrapper
{
    height: 100%;
}
.modal .swiper-slide
{
    height: 100%;
    padding: 0 100px;
}
.modal-body
{
    padding : 0 !important;
}
.modal-header .right
{
    width: 70%;
    display: flex;
}
.modal-header .left
{
    width: 30%;
}
.modal-header .left button
{
    padding: 8px 13px;
    border-radius: 10px;
    color: black;
    background-color: #fff;
}
.modal-header .left button:hover
{
    background-color: #fff;
}

.modal-header .person
{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.modal-header img
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.modal-footer img
{
    width: 40px;
    height: 40px;
}
/* .modal-header h3
{
    width: 20%;
    background-color: lightcoral;
} */
.modal-footer 
{
    display: flex;
    background-color: rgb(42, 41, 41);

}
.modal-footer .item
{
    display: flex;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;

}

.body-sec {
    position: relative !important;
    height: 400px;
    width: 100%;
    margin-bottom: 40px;


}

.body-sec:hover .s-icons {
    opacity: 1;
}
.body-sec .mySwiper2
{
    width: 100%;
    height: 100%;
}


.body-sec .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body-sec .swiper-slide img
{
    width: 100%;
    height: 100%;
}
.body-sec:hover .c
{
    opacity: 1;
}
.c
{
    width: 90px;
    height: 90px;
    position: absolute;
    bottom: 5%;
    right: 3%;
    z-index: 3;
    opacity: 0;
    transition:opacity 0.3s ease;


}
.c div
{
    background-color: white ;
    color: black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 12px ;
    border: 1px solid rgb(144, 140, 140);
}
.c div::after
{
    font-size: 10px ;
    font-weight: bold !important;;
}

/* #s-container {
    width: 100%;
    height: 100%;
}

#s-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
} */

#s-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: unset;
}

.s-icons {

    position: absolute;
    z-index: 10;
    bottom: 10%;
    text-align: center;
    right: 5%;
    display: flex;
    opacity: 0;
    transition: all .5s ease;

}

#butt {
    background-color: white;
    width: 50px;
    height: 40px;
    padding-top: 13px;
    border-radius: 50%;
    margin-left: 10%;

}

#butt i {
    font-size: 15px;
}

.body-third {
    max-width :1400px;
    display: flex;
    justify-content: center;
    padding: 0 3%;
    margin-bottom: 30px;

}

.body-third swiper-slide {
    text-align: center;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    /* height : 180px; */
    width: 60px;
    margin-left: 6% !important;
    cursor: pointer;
    font-weight: 600;
}

.body-third swiper-slide i {
    font-size: 20px;
    padding: 23px;

}

.body-third swiper-slide img {
    width: 100%;
    height: 100%;
}

.body-forth {
    max-width: 1340px;
    /* background: linear-gradient(225deg,#d22c4e,#ee384e 41.68%,#ef5662); */
    background-color: #de3549;
    padding: 20px;
    border-radius: 15px;
}

.body-forth swiper-slide {
    text-align: center;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    /* height : 180px; */
    max-width: 160px;
    cursor: pointer;
    background-color: #fff;
    margin-left: 4px !important;
    padding : 8px;
}

.body-forth #first {
    /* background: linear-gradient(225deg,#d22c4e,#ee384e 41.68%,#ef5662); */
    background-color: #de3549;
    color: #fff;

}
.body-forth #first img{
    
    width:88px;
}

.body-forth swiper-slide img {
    width: 100%;
    height: 100%;
}

.body-forth .price {
    display: flex;
    justify-content: space-between;
}

.body-forth .price p {
    color: #c0c2c5;
    font-size: 13px;
}

.body-forth .price .sec-text {
    font-weight: bold;
    color: black;
    font-size: 14px;
}

.body-forth .price .right p {
    color: white;
    font-weight: bold;
    border-radius: 16px;
    background-color: red;
    padding: 2px 6px;
}

.body-forth .price .takhfif {
    position: relative;
}

.body-forth .price .takhfif::after {
    content: '';
    height: 1px;
    width: 60%;
    background-color: #c0c2c5;
    position: absolute;
    left: 20%;
    bottom: 35%;

}

.body-forth #first p {
    font-weight: bold;
    border-radius: 4px;
    display: inline-block;
    color: black;
    background-color: #fff;
    height: 26px;
    width: 26px;
    font-size: 16px;
    margin: 10% 0;
}

.body-forth #first span {
    font-weight: bold;
    font-size: 17px;
}

.body-forth #first a {
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    position: relative;
}

.body-forth #first a::after {
    content: '';
    width: 6px;
    height: 6px;
    border: 2px solid #fff;
    border-right: none;
    border-bottom: none;
    position: absolute;
    left: -15%;
    bottom: 30%;
    transform: rotate(-45deg);
}

.body-fifth {
    max-width : 1380px;
    /* background-color: lightgray; */
    margin: 30px auto !important;
    display: flex;
    background: url(/statics/img/svg/typography/freshPattern.svg) left center no-repeat;

}



.body-fifth .right a {
    background-color: #029a49;
    border-radius: 30px;
    padding: 5px 10px;
    font-weight: 700;
    color: #fff;
    margin-right: 6px;
    text-align: center;
    width: 71px;
    height: 25px;
}


.body-fifth .right #first-img {
    width: 66px;
}

.body-fifth .right #sec-img {
    width: 190px;
}

.body-fifth .left {
    position: relative;
}

#icon-md {
    display: none;
    position: absolute;
    left: 0;
    bottom: 50%;
}

.body-fifth .left .img-container {
    display: flex;
}

.body-fifth .left .img-container .img {
    /* background-color: lightgreen; */
    margin-left: 3%;
    position: relative;
}

.body-fifth .left .img-container .img img {
    width: 62px;
}

.body-fifth .left .img-container .img p {
    background-color: red;
    color: white;
    display: inline-block;
    padding: 0 4px;
    border-radius: 16px;
    font-weight: bold;
    font-size: 13px;
    position: absolute;
    bottom: -10%;
    z-index: 1;
    right: 0;
}

.body-fifth .left .link-container {
    margin: 5% auto;
    cursor: pointer;
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.body-fifth .left .link-container a {
    color: #029a49;
    font-weight: 700;
    font-size: 13px;
}

.body-fifth .left .link-container a:hover {
    text-decoration: none;
}

.body-fifth .left .link-container i {
    color: #029a49;
    font-size: 16px;
    font-weight: light;
    margin-right: 5px;
    margin-top: 3px;
    position: absolute;
    left: 0;
    top: -1%;

}

.body-fifth #icon-md {
    color: #029a49;
    cursor: pointer;
}

.body-sixth {
    max-width: 1380px;
}

.body-sixth .img {
    padding: 8px;
    border-radius: 16px;
}

.body-sixth img {
    width: 100%;
    height: 100%;
    border-radius: 16px;

}

.body-seventh {
    max-width: 1200px;
    margin: auto;
}

.body-seventh .body-seventh-header h3 {
    font-weight: 600;
    font-size : 18px !important;
}

.body-seventh-header {
    margin-bottom: 50px;
}

.body-seventh swiper-container {
    display: none;
    justify-content: center;
    margin: auto;
}

.body-seventh-lg {
    max-width: 1200px;
    display: flex;
    margin: auto;
    justify-content: center;
}

.con {
    width: 100px;
    margin-left: 55px;
}

.body-seventh-lg .row {
    margin-bottom: 30px;
}

.body-seventh swiper-slide {
    width: 100px;
    margin-left: 55px !important;
}

.body-seventh swiper-slide .row {
    margin-bottom: 30px;
}

.body-seventh-lg img {
    width: 100%;
}

swiper-slide img {
    width: 100%;
}

.body-seventh swiper-slide p {
    color: black;
    text-align: center;
    font-weight: bold;
}

.body-seventh .body-seventh-lg p {
    color: black;
    text-align: center;
    font-weight: bold;
}

.header .top-xs {
    width : 95%;
    display: none;
    height: 60px;
    margin: 0 auto;
    margin-top: 10px;
    flex-direction: row-reverse;
    align-items: center;

}

.header .top-xs img {
    width: 32px;
    margin: 0 4%;
}

.top-xs .right {
    display: flex;
    align-items: center;
    margin-right: 1%;
    width: 90%;

}

.top-xs .right i {
    color: rgb(158, 158, 158);
}

.top-xs .left {
    text-align: end;
}

.top-xs .left button {
    padding: 10px 15px;
    color: #fff;
    background-color: black;
    outline: none;
    border: none;
    border-radius: 6px;
    font-weight: 700;
}

.top-xs .right h5 {
    font-weight: 700;
    width: 130px;
}

#header-b {
    display: none;
    position: relative;
    text-align: end;
    margin-top: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
}
.header-bottom-xs {
    display: flex;
    position: relative;
    text-align: end;
    padding:12px;
    background-color: #f2f2f2;
    color: #81858b;
    border-radius : 30px;

}
.header-bottom-xs input {
    width: 90%;
    outline: none;
    border: none;
    color: #81858b;
    font-weight: bold;
    font-size: 14px;
}

.header-bottom-xs i {
    color: #b39c9c;
    position: absolute;
    right: 3%;
    top: 30%;
    font-size: 14px;
}

.body-nineth {
    max-width: 1380px;
    margin: 50px auto 20px;
}

.body-nineth .img {
    padding: 8px;
    border-radius: 16px;
}

.body-nineth img {
    width: 100%;
    height: 100%;
    border-radius: 16px;

}

.body-tenth {
    margin: auto;

    max-width: 1330px;
    border: 1px solid #e0e0e2;
    padding: 20px;
    border-radius : 10px;
}

.body-tenth #left-s {
    margin-left: 0 !important;
}

.body-tenth .body-tenth-header {
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-tenth .body-tenth-header i {
    margin-left: 15px;
}

.body-tenth swiper-slide {
    width: 70px;
    margin-left: 55px !important;
}

.body-eleventh {
    max-width: 1380px;
    margin: 20px auto 50px;
}

.body-eleventh .img {
    padding: 8px;
    border-radius: 16px;
}

.body-eleventh img {
    width: 100%;
    height: 100%;
    border-radius: 16px;

}

.body-twelfth {
    max-width: 1380px;

    border-radius : 10px;
    /* background-color: lawngreen; */
}
.body-twelfth .item-header
{
    padding-right : 10px;
}
.body-twelfth .item 
{
    padding: 10px;
    border : 1px solid #e0e0e2;
}
.body-twelfth .item .item-img {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    
}

.body-twelfth .item .item-img a {
    padding : 0 !important;
}

.body-twelfth .item img {
    width: 90%;
}

.body-twelfth .item .item-header p {
    font-size: 1.1rem;
    color: #81858b;
}

.body-twelfth .item .item-header h4 {
    font-size: 1.6rem;
    color: #23254e;
}

.body-twelfth .item .item-link {
    text-align: center;
    margin-top: 5% 0;
}

.body-twelfth .item .item-link a {
    text-decoration: none;
    color: #19bfd3;
    position: relative;
}

.body-twelfth .item .item-link a::after {
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #19bfd3;
    border-right: none;
    border-bottom: none;
    transform: rotate(-45deg);
    left: -40%;
    top: 25%;

    position: absolute;
}

.body-digiClub {
    margin: 50px auto;
    padding: 12px 0;
    border-radius: 16px;
    max-width: 1380px;
    background-color: red;
    background: linear-gradient(76.02deg, #35a6c8 33.32%, #007295 71.55%), radial-gradient(21.29% 87.33% at 50% 50.67%, #7cf2f6 0, #35a6c8 100%);
}

.body-digiClub .digiClub-svg {
    margin-top: 1.5%;
}

.body-digiClub .digiClub-svg img {
    width: 119px;
    height: 33px;
}

.body-digiClub .left {
    display: flex;
    justify-content: end;
    padding-left: 0;
    padding-top: 10px;
}

.body-digiClub .left .item {
    background-color: #fff;
    display: flex;
    width: 27%;
    margin-right: 5px;


}

.body-digiClub .left .item .img {
    width: 60%;
}

.body-digiClub .left .item .text {
    width: 40%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;


}

.body-digiClub .left .item .text p {
    margin: 0;
    margin-right: 10px;
}


.body-digiClub .left img {
    width: 100%;
    height: 63.2px;
}

.body-thirteen {
    padding: 3%;
    max-width: 1380px;
        border: 1px solid lightgray;
            margin-bottom: 40px;
    border-radius : 10px;
            

}

.body-thirteen .swiper-slide {
    height: auto;
    width: 320px;
    margin-left: 15px !important;
}

.body-thirteen .swiper-slide .s-row {
    display: flex;
}

.body-thirteen .swiper-slide .s-row .desc {
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.body-thirteen .swiper-slide .s-row p {
    font-size: 1.2rem;
    color: #3f4064;
    line-height: 2.17;
    font-weight: 400;


}

/* .body-thirteen h3 {
    font-size: 2.5rem;
    display: inline-block;
    margin-bottom: 1%;
    margin-right: 1%;
} */

.body-thirteen svg {
    width: 24px;
    height: 24px;
    fill:#f9a825;
    margin-left: 1%;
}
.body-thirteen .body-thirteen-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    position : relative;
}
.body-thirteen .swiper-slide .s-row .desc span {
    color: #19bfd3;
    font-size: 3rem;
    margin: auto 10px;
}

.body-thirteen .swiper-slide img {
    object-fit: contain;
    width: 100px;
}


.body-discount {
    border: 1px solid #e0e0e2;
    max-width: 1380px;
    margin: 40px;
    border-radius : 10px;
    /* background-color: lightcoral; */
    
}

.body-discount .discount-container:nth-child(odd) {
    border-left : 1px solid #e0e0e2;

}

.body-discount .item {
    /* background-color: rgb(62, 137, 169); */
    float: right;
    border: 1px solid #e0e0e2;
    border-top: none;
    border-left : none;
    text-align: center;
    padding :15px;

}


.body-discount .item .img-holder img {
    width: 130px;
    height: 130px;

}

.body-discount .item .desc {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    color: #3f4064;
    align-items: baseline;
    
}

.body-discount .item .desc p {
    font-size: 1.6rem;

}

.body-discount .item .desc .takhfif {
    color: #c0c2c5;
    position: relative;
    font-size: 1.1rem;
    font-weight: normal;
}

.body-discount .item .desc .takhfif::after {
    content: '';
    height: 1px;
    width: 50%;
    background-color: #c0c2c5;
    position: absolute;
    left: 25%;
    bottom: 50%;
}

.body-discount .item .desc .darsad {
    font-size: 1.2rem;
    color: #fff;
    background-color: #d32f2f;
    border-radius: 20px;
    width: 30px;
    height: 15px;
}


.body-discount svg {
    width: 24px;
    height: 24px;
    fill: red;
    margin-left: 1%;
}
.body-discount .body-discount-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin : 15px 0;
}



.body-khandani .body-khandani-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    margin-bottom: 20px;
}

.body-khandani .body-khandani-header p
{
    font-size: large;
}
.body-khandani .body-khandani-header a
{
    position: relative;
    color:  #19bfd3;
}
.body-khandani .body-khandani-header a::after
{
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #19bfd3;
    border-right: none;
    border-bottom: none;
    transform: rotate(-45deg);
    left: -10%;
    top: 25%;
    position: absolute;
}
.body-khandani
{
    max-width: 1380px;
    padding: 0 !important;
    margin: 0;
} 
.body-khandani .khandani-imgs .img
{
    padding:0 8px !important;
}
.body-khandani .khandani-imgs .img img
{
    width: 100%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.body-khandani .khandani-imgs .img p
{
    padding:10px;
    padding-bottom: 50px;
}

.footer-container .first
{
    display: flex;
    justify-content: space-between;
    padding: 0 3%;
    margin : 20px 0
}
/* .footer-container .first .text-holder
{
    background-color: lightcoral;
    display: flex;
} */
.footer-container .first img
{
    width: 113px;
    height: 30px;
}
.backToTop-link
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.backToTop-link a
{
    color: #a1a3a8;
    text-decoration : none;
}
.footer-container .secound
{
    display: flex;
    padding: 0 1%;

}
.footer-container .secound p
{
    margin:0 2%;
    position: relative;
}
.footer-container .secound .line
{
    content: '';
    width: 1px;
    height: 15px;
    background-color: #a1a3a8;
}
.footer-container .third
{
    margin: 50px 0;
    display: flex;
    justify-content: space-around;
}
.footer-container .third .item
{
    text-align: center;
}

.footer-container .forth
{
    padding: 0 2%;
}
.footer-container .forth ul
{
    list-style-type: none;
}
.footer-container .forth ul li
{
    margin-bottom: 15px;
}

.footer-container .forth ul a
{
    text-decoration: none;
    color: #81858b;
    font-size: 14px;
}
.footer-container .forth div
{
    float: right;
}
.footer-container .forth .left p
{
    font-size: 16px;
}

.footer-container .forth .left .top .svg-container
{
    margin: 10px 0 30px;
}
.footer-container .forth .left input
{
    outline: none;
    border: none;
    width: 90%;
}
.footer-container .forth .left .bottom div
{
    width: 100%;
}
.footer-container .forth .left button
{
    color: #fff;
    background-color: #de3549;
    outline: none;
    border: none;
    padding: 12px;
    border-radius: 5px;
    font-size: 14px;
}
.footer-container .digiClub-svg h4
{
    margin: 15px;
    color: #fff;
}
.footer-container .digiClub-svg
{
    display: flex;

    text-align: center;
    align-items: center;
}
.footer-container .digiClub-svg img
{
    width: 44px;
    height: 44px;
}

.footer-container .digiClub-svg
{
    margin-top: 0px;
}

.footer-container .body-digiClub .left .item
{
    width: 142px;
    height: 44px;
    margin-right: 15px;
}
.footer-container .body-digiClub .left
{
    padding-left: 15px;
}
.footer-container .body-digiClub
{
    max-width: none;
    margin: 2% 3%;
}
.footer-container .body-digiClub .left .img img
{
    width: 100%;
    height: 100%;
}
.footer-container .body-digiClub .left .img
{
    width: 100%;
    height: 100%;
}
.footer-container .fifth
{
    display: flex;
    justify-content: space-between;
    padding: 0 3%;

}
.footer-container .fifth .left
{
    /* background-color: red; */
    display: flex;
    width: 30%;
    justify-content: space-around;
}
.footer-container .fifth .right
{
    /* background-color: rgb(87, 93, 165); */
    width: 70%;
    margin-left: 10%;
}
.footer-container .fifth .right p
{
    color: #81858b;
    font-size: 1.1rem;
    line-height: 2rem;
    
}
.footer-container .fifth .right h4
{
    color: #62666d;
    font-size: 2rem;
}
.footer-container .fifth .right .amin a
{
    display: flex;
    font-size: 12px;
    color: #19bfd3;
    padding: 0;
    justify-content: baseline;
    align-items: center;
    margin: 30px 0;
}
.footer-container .fifth .left img
{
    width: 75px;

}

.footer-container .text
{
    margin: 40px 0;
    text-align: center;
    color:#81858b;
}

.footer-container .logos
{
    margin: 2%;
}
.footer-container .logos .item
{
    display: flex;
    justify-content: space-between;
}


.footer-container-xs .backToTop-link-xs
{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-container-xs .first 
{
    margin:20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-container-xs .first .right
{
    display: flex;
    width: 90%;
    align-items: center;
}
.footer-container-xs .first .right i
{
    font-size: 23px;
}

.footer-container-xs .secound 
{
    margin:20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-container-xs .secound .right
{
    display: flex;
    width: 90%;
    align-items: center;
}
.footer-container-xs .secound .right img
{
    width: 44px;
    height: 44px;
}

.footer-container-xs .secound .right i
{
    font-size: 23px;
}

.footer-container-xs p
{
    font-size: 10px;
}
.footer-container-xs .third a
{
    display: block;
    text-decoration: none;
    font-size: 15px;
    color: black;
}
.footer-container-xs .third .panel-heading
{
    position: relative;
    background-color : transparent;
}
.footer-container-xs .third .panel-heading svg
{
    position: absolute;
    left: 0;
    bottom: 25%;
}

.footer-container-xs .third ul
{
    list-style-type: none;
}
.footer-container-xs .third ul li
{
    margin-bottom: 15px;
}

.footer-container-xs .third ul a
{
    text-decoration: none;
    color: #81858b;
    font-size: 13px;
}

.footer-container-xs .fifth .right p
{
    color: #81858b;
    font-size: 1.1rem;
    line-height: 2rem;
    
}
.footer-container-xs .fifth .right h4
{
    color: #62666d;
    font-size: 2rem;
}
.footer-container-xs .fifth .right .amin a
{
    display: flex;
    font-size: 14px;
    color: #a1a3a8;
    padding: 0;
    justify-content: baseline;
    align-items: center;
    margin: 30px 0;
}
.footer-container-xs
{
    margin: 0 3%;
}
.transform-icon
{
    transform: rotate(180deg);
}


.contact
{
    padding: 10px 14px;
    position: fixed;
    background-color: #ef4056;
    bottom: 4%;
    right: 4%;
    border-radius: 50%;
    z-index: 100000;
}











@media screen and (max-width: 1420px) {
    #remove-xl {
        display: none;
    }



}

@media screen and (max-width: 1200px) {
    #remove-lg {
        display: none;
    }

 

    .body-seventh .body-seventh-lg {
        display: none;
    }
     .mySwiper4
    {
        display : block !important;
    }
    


    .body-fifth .left .img-container .img {
        margin-left: 40px;
    }
    #takhfifha
    {
        display : none;
    }


}

@media screen and (max-width: 992px) {
    .header .top-xs {
        display: flex;

    }
    .header
    {
        position: static;
    }
    #header-b {
        display: block;
        /* height: 50px; */
        align-items: center;
        
        /* margin: 2%; */
        padding:1.4%;
        width: 100%;
        margin: 4% auto;

    }

    .header-bottom,
    .header .top,
    hr {
        display: none;
    }

    .header .top {
        flex-direction: column;
    }

    .header .img-container {
        display: block;
    }

    .header .top .input-container input {
        width: 100%;
    }

    #icon-md {
        display: inline !important;
    }
    .body-new-img
    {
        display: block !important;
    }
    .body-fifth {
        flex-direction: column;
    }

    .body-fifth .link-container {
        display: none !important;
    }

    .body-fifth .right #first-img {
        width: 40px;
    }


    .body-fifth .left .link-container i {
        position: absolute;
        left: 0;
        bottom: 0;
    }


    .body-fifth .right a {
        display: block;
        width: 100px;
    }

    .body-twelfth .item .item-img {
        width: auto;
    }

    .body-digiClub {
        display: flex;
        flex-direction: column-reverse;

    }

    .body-digiClub .left {
        justify-content: center;
    }

    .body-digiClub .item {
        width: 123px !important;
        flex-direction: column;
        align-items: center;
    }

    .body-digiClub .item .img {
        width: auto !important;

    }

    .body-digiClub .item .img img {
        border-bottom-right-radius: 8px;

    }

    .body-digiClub .item .text {
        width: auto !important;
        flex-direction: column;
        padding: 10px;

    }

    .body-digiClub .digiClub-svg {
        margin-bottom: 1%;
    }

    .body-discount .discount-container {
        /* background-color: khaki; */
        padding: 0;
    }
    .footer-container
    {
        display: none;
    }
    .footer-container-xs
    {
        display: block !important;
        margin-bottom: 50px;
    }
    .contact
    {
        display: none;
    }
    .body-third
    {
        overflow-x : scroll;
        justify-content: flex-start !important;
        margin-top : 30px;
    }
    .body-third div
    {
        width : 75px;
        margin-left : 0px !important;
    }

    .body-third .img-holder
    {
        margin-bottom :10px;
    }
    .body-forth swiper-slide
    {
        width : 130px;
    }
    #body-four-header
    {
        display:flex !important;
    }
    .body-forth #first
    {
        display:none ;
    }
    .body-twelfth .item 
    {
        border-bottom : 1px solid #e0e0e2;
    }
    .panel-default
    {
        border-color : transparent !important;
        
    }
   

    .bottom-menu
    {
        display : flex !important;
    }
    .body-thirteen .body-thirteen-header 
    {
        justify-content : unset;
    }
        .body-thirteen .body-thirteen-header h4
        {
            font-size : 14px;
        }

    
   
.body-digiClub 
{
    flex-direction: column-reverse !important;
}
.body-discount .item
{
    border-right : none;
}

.body-discount,.body-tenth,.body-thirteen,.body-twelfth .item
{
    border : none;
}

}
@media screen and (max-width: 768px)
{
    .body-sec
    {
        height:200px !important;
    }
}
@media screen and (max-width: 550px)
{
    .modal-dialog
    {
        width: 320px !important;
        height: 100% !important;
        margin: auto !important;
        position: absolute !important;
        right: 1vw;
    }
    .modal .swiper-button-prev,
    .modal .swiper-button-next
    {
        display : none;
    }
    #body-four-header #first-link
    {
        display:none;
    }
    #body-four-header #sec-link
    {
        display:unset !important;
    }


}


#body-four-header
{
    display:none;
    justify-content : space-between;
    padding:0 7px;
    
}
#body-four-header a
{
    color:white;
    text-decoration : none;
    
}

#body-four-header .right
{
    display :flex;
    width :65%;
        align-items : center;

}
#body-four-header .right .time
{
    display :flex;
}
#body-four-header .time p
{
     background-color: white;
    padding: 4px 8px;
    border-radius: 3px;
    font-weight : bold;
}
#body-four-header .time span
{
    font-size: 15px;
    color: white;
    font-weight: bold;
    margin : 0 2px;
}
.mySwiper4 .swiper-button-next,
.mySwiper4 .swiper-button-prev
{
    background-color: white !important;
    color: #81858b;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 12px !important;
    padding: 5px;
}
.mySwiper4 .swiper-button-next::after
{
    font-size: 11px !important;

}
.mySwiper4 .swiper-button-prev::after
{
    font-size: 11px !important;

}
.mySwiper5 .swiper-button-next,
.mySwiper5 .swiper-button-prev
{
    background-color: white !important;
    color: #81858b;
    border-radius: 50%;
    width: 37px;
    height: 37px;
    font-size: 12px !important;
    z-index : 10;
    border : 1px solid #e0e0e2;
}
.mySwiper5 .swiper-button-next::after
,.mySwiper5 .swiper-button-prev::after
{
    font-size: 11px !important;
    font-weight : bold;

}
.mySwiper6 .swiper-button-next,
.mySwiper6 .swiper-button-prev
{
    background-color: white !important;
    color: #81858b;
    border-radius: 50%;
    width: 37px;
    height: 37px;
    font-size: 12px !important;
    z-index : 10;
    border : 1px solid #e0e0e2;
}
.mySwiper6 .swiper-button-next::after
,.mySwiper6 .swiper-button-prev::after
{
    font-size: 11px !important;
    font-weight : bold;

}


.tenth-container img
{
    width :110px;
}
.bottom-menu
{
    width : 100%;
    display : none;
    justify-content : space-around;
    background-color : #fff;
    position: fixed;
    bottom : 0;
    z-index :10000;
    align-items : center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding-top: 5px;
}
.bottom-menu .bottom-menu-item
{
    text-align : center;
}
.bottom-menu .bottom-menu-item p
{
    color : #a1a3a8;
}
.dastebandi-body
{
    display : flex;
    height : 100%;
    width:100%;
    transition : all 1s ease;

}
#dastebandi-container
{
    display : none;
    height : 0;
    position: absolute;
    top: 0;
    width: 100%;
}
#dastebandi-container .right
{
    overflow-y : scroll;
    width : 100px;
} 
#dastebandi-container .right a
{
    font-size : 1rem;
   color : #3f4064;
}
#dastebandi-container .left
{
    overflow-y : scroll;
    width : 91.5%;
    display : none;
}
#dastebandi-container .left-header
{
    margin : 30px;
    position : relative;
}
#dastebandi-container .left-header a
{
    position : relative;
}
#dastebandi-container .left-header a::after
{
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #008eb2;
    border-right: none;
    border-bottom: none;
    transform: rotate(-45deg);
    left: -10px;
    top: 25%;
    position: absolute;
}

#dastebandi-container .panel-group .panel-heading
{
    display : flex;
    justify-content : space-between;
    background-color : transparent !important;
}
#dastebandi-container .left .panel-title
{
    width : 100%;
    color : #0c0c0c;
    font-size:14px;

}

#dastebandi-container .left .panel-title a
{
    color : #0c0c0c;
    display : block;
    width : 100%;
    text-decoration : none !important;
}
#dastebandi-container .right::-webkit-scrollbar
{
    display : none;
}
#dastebandi-container .left::-webkit-scrollbar
{
    display : none;
}
#dastebandi-container .right .item
{
    
    background-color: #f0f0f1;
    border: 1px solid #e0e0e2;
    display : flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 60px;
}
#dastebandi-container .left .row-item 
{
    display :flex;
    justify-content : space-around;
    align-items : center;
    margin-bottom : 20px;
}
#dastebandi-container .left .row-item a
{
    background-color: #f0f0f1;
    padding: 7px;
    border-radius: 50%;
}

#dastebandi-container .left .row-item div
{
    display:flex;
     justify-content : space-evenly;
    align-items : center;
    flex-direction :column;
    
}
#dastebandi-container .left .row-item img
{
    width :45px;
    height :45px;
    mix-blend-mode: darken;


    
}
@media screen and (min-width: 992px)
{
    #dastebandi-container
    {
        display : none !important;
    }
    #body-container
    {
        display : block !important;
    }
}

